# Python
*.pyc
__pycache__/
venv/
.venv/
*.env
db.sqlite3
*.log

# Node
node_modules/
npm-debug.log*
/frontend/build

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django
media/
staticfiles/

# Environment variables
.env
.env.local